* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-button {
    padding: 4px 6px;
    border-radius: 18px;
    border: none;
}

.main-button a {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
}

.nav-row {
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #255ee9;
}

.logo {
    position: absolute;
    left: 10%;
    top: 8px;
}

.nav-row-section, .nav-row-section li {
    display: inline-block;
}

.nav-row-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-row-section li {
    margin: 0 12px;
    font-size: 12px;
    font-weight: 500;
}

.nav-row-section a {
    text-decoration: none;
    color: white;
}

.nav-row-button {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    height: 26px;
}

.nav-row-button a {
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.section {
    border: 2px solid black; /*debug*/
}

.section1 {
    background-image: url(../img/jumbo.png);
    background-image: center;
    background-size: cover;
    height: 200px; /*debug*/
}