* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 14px;
}

.main-button {
    padding: 8px 14px;
    border-radius: 24px;
    border: none;
    margin: 16px 6px;
    font-size: 12px;
    font-weight: 600;
}

.main-button a {
    text-decoration: none;
}

.container {
    position: relative;
    width: 100%;
}

.nav-row {
    position: relative;
    width: 100%;
    text-align: center;
    min-height: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #255ee9;
}

.logo {
    position: absolute;
    left: 10%;
    top: 8px;
}

.nav-row-section, .nav-row-section li {
    display: inline-block;
}

.nav-row-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-row-section li {
    margin: 0 12px;
    font-size: 12px;
    font-weight: 500;
}

.nav-row-section a {
    text-decoration: none;
    color: white;
}

.nav-row-button {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    height: 26px;
    padding: 4px 8px;
    border-radius: 24px;
    border: none;
}

.nav-row-button a {
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.section {
    border: 2px solid black; /*debug*/
    background-image: center;
    background-size: cover;
}

.section1 {
    background-image: url(../img/jumbo.png);
}

.center-box {
    text-align: center;
    padding: 10% 20%;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin: 20px auto;
}

.paragraph {
    font-size: 14px;
    font-weight: 500;
}

.title.white-title, .paragraph.white-paragraph {
    color: white;
}

.download-button {
    box-shadow: 1px 1px 4px black;
}

.download-button a {
    color: black;
}

.browser-button {
    background-color: black;
    box-shadow: 1px 1px 4px white;
}

.browser-button a {
    color: white;
}